<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haer.dao.TeacherMapper">
    <resultMap id="TeacherResultMap" type="Teacher">
        <id property="id" column="tid"/>
        <result property="name" column="tname"/>
        <collection property="studentList" ofType="Student">
            <id property="id" column="sid"/>
            <result property="name" column="sname"/>
        </collection>
    </resultMap>

    <select id="selectTeacherList" resultMap="TeacherResultMap">
       select s.id sid, s.name sname, t.id tid, t.name tname from teacher t, student s
       where s.tid = t.id
    </select>

    <resultMap id="TeacherResultMap2" type="Teacher">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <collection property="studentList" ofType="Student" column="id" select="getStudent"/>
    </resultMap>

    <select id="selectTeacherList2" resultMap="TeacherResultMap2">
       select id,name from teacher
    </select>

    <select id="getStudent" resultType="Student">
       select id,name,tid from student where tid = #{id}
    </select>

</mapper>